body {
    //width: 100vh;
    margin: auto;
    background: #f2f2f2;
}

.container {
    max-width: 1000px;
    margin: auto;
    background-color: #ffffff;
}

// header black big
.header1 {
    max-width: 100%;
    height: 70px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 0.3;
        div {
            padding-left: 20px;
            font-size: 16px;
            .gray {
                color: gray;
                font-size: 14px;
            }
        }
    }
}

//nav 1
.nav1 {
    max-width: 1000px;
    height: 40px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    font-size: 16px;
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
            list-style: none;
            a {
                color: gray;
                padding: 0 7px;
                text-decoration: none;
            }
            .giohang {
                background-color: black;
                padding: 7px;
            }
        }
    }
}

// tieu de, logo,...
.tieude {
    max-width: 1000px;
    margin: auto;
    //padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
        margin: 0;
        padding: 0;
        h3 {
            font-size: 40px;
            font-weight: bold;
            color: red;
            margin: 0;
            padding: 0;
        }
        p {
            margin: 0;
            padding: 0;
            letter-spacing: 1px;
            font-style: italic;
        }
    }
    .search {
        display: flex;
        position: relative;
        input {
            display: block;
            margin-top: 1px;
            padding: 7px;
            //border-top-left-radius: 30%;
            -moz-outline-radius-topleft: 30%;
            -moz-outline-radius-bottomleft: 30%;
            -moz-outline-radius-topleft: 30%;
            -moz-outline-radius-bottomleft: 30%;
            text-rendering: none;
            border-style: none;
            border-image: none;
            outline-color: black;
            // border-color: red !important;
            // -webkit-outline-radius-topleft: 30% !important;
            // -webkit-writing-mode: none !important;
        }
        .timkiem {
            display: block;
            position: absolute;
            padding: 5px 7px;
            background: #000;
            margin-left: 150px;
            border-bottom-right-radius: 30%;
            border-top-right-radius: 30%;
        }
    }
}

// navbar big
.navbarbig {
    margin: auto;
    max-width: 1000px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.2px;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            list-style: none;
            padding-left: 9px;
            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}

// line
.line {
    max-width: 1000px;
    margin: auto;
    height: 1px;
    background-color: gray;
}

//slider
.slider {
    max-width: 1000px;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    div {
        //margin-left: 5rem;
        text-align: center;
        img {
            width: 50%;
        }
    }
    .imgbigwrap {
        .imgbig {
            width: 100%;
        }
    }
}

// brand
.brand {
    max-width: 1000px;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

// typeshop
.typeshop {
    max-width: 1000px;
    margin: auto;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
        position: relative;
        text-align: center;
        color: white;
        p {
            position: absolute;
            top: 0;
            left: 0;
            background: gray;
            padding: 1rem;
            opacity: 0.7;
            text-align: center;
            margin-left: 90px;
            margin-top: 120px;
        }
        img {
            width: 300px;
            height: 200px;
        }
    }
}

// clothes
.clothes {
    max-width: 1000px;
    margin: auto;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    .item {
        .imgCart {
            //width: 250px;
            height: 200px;
        }
    }
    .price {
        .span_red {
            color: red;
            font-style: bold;
            font-weight: 900;
        }
    }
}

// picture
.picture {
    max-width: 1000px;
    margin: auto;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        width: 25%;
        height: 500px;
    }
    .picture_mid {
        width: 50%;
        height: 500px;
    }
}

// nav clothes
.navClothes {
    max-width: 1000px;
    margin: auto;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
            list-style: none;
            a {
                text-decoration: none;
                color: black;
                padding-left: 1rem;
                border-right: 2px solid gray;
                padding-right: 0.7rem;
            }
            // .blue {
            //     border-bottom: 1px solid #3bb1ea;
            // }
        }
        div {
            background-color: #3bb1ea;
            i {
                color: white;
                padding: 20px;
            }
        }
    }
}

// linen clothes
.lineClothes {
    max-width: 1000px;
    margin: auto;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .blue {
        width: 15%;
        height: 2px;
        background-color: #3bb1ea;
    }
    .gray {
        width: 90%;
        height: 2px;
        background-color: gray;
    }
}

// text
.text {
    max-width: 1000px;
    margin: auto;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    color: gray;
    text-align: center;
    margin-bottom: 30px;
    div {
        width: 50%;
        //height: 500px;
        h3 {
            color: black;
        }
        .search {
            display: flex;
            position: relative;
            input {
                display: block;
                margin-top: 4px;
                margin-left: 2px;
                padding: 7px 100px;
                //border-top-left-radius: 30%;
                -moz-outline-radius-topleft: 30%;
                -moz-outline-radius-bottomleft: 30%;
                -moz-outline-radius-topleft: 30%;
                -moz-outline-radius-bottomleft: 30%;
                text-rendering: none;
                border-style: none;
                border-image: none;
                outline-color: black;
                // border-color: red !important;
                // -webkit-outline-radius-topleft: 30% !important;
                // -webkit-writing-mode: none !important;
            }
            .timkiem {
                width: 30%;
                display: block;
                margin: 4px;
                position: absolute;
                top: 0;
                left: 0;
                padding: 6px 7px;
                background: #000;
                margin-left: 350px;
                border-bottom-right-radius: 20%;
                border-top-right-radius: 20%;
                color: white;
                font-size: 16px;
            }
        }
    }
    .text_content {
        border-right: 1px solid gray;
        h3 {
            color: #000;
        }
        p {}
        a {
            text-decoration: none;
            color: #000;
        }
    }
}

// follow us
.followus {
    padding-top: 30px;
    max-width: 1000px;
    margin: auto;
    height: 30px;
    font-size: 22px;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    i {
        padding-top: 5px;
        width: 40px;
        height: 35px;
        background-color: red;
        border-radius: 50%;
        color: white;
        text-align: center;
    }
}

//footer
footer {
    max-width: 1000px;
    margin: auto;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: gray;
    font-size: 17px;
    div {
        width: 230px;
        height: 300px;
    }
    div {
        width: 310px;
        height: 200px;
        h3 {
            color: #000;
        }
        .contact {
            .imgfooter {
                width: 80px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                margin: 0;
                padding: 0;
            }
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
}